*
{
    margin: 0;
    background: ghostwhite;
}

#trafficTop {
    background-color: black;
    width: 9px;
    height: 152px;
    margin-left: 427px;
}

#container {
    background-color: black;
    width: 61px;
    height: 163px;
    margin-left: 400px;
    padding: 5px;
    border-radius: 20px;
}
.light {
    width: 30px;
    height: 30px;
    margin: 4px;
    border-radius: 50%;
    padding: 22px;
    cursor: pointer;

    &.red { background-color: #990000;}
    &.yellow {background-color: #CC6600; }
    &.green { background-color: #009933; }
    &.selected{box-shadow: #f8ffcc 0px 0px 50px 20px;}
}
